@import "tailwindcss";

:root {
  --background: #F4F6FD;
  --foreground: #F4F6FD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F4F6FD;
    --foreground: #F4F6FD;;
  }
}

body {
  background:#F4F6FD;
  color: var(--foreground);
  font-family: Poppins, sans-serif;
}
